$body-bg: #1e2e55;
$navbar-bg: #293961;
$primary-color: #10193a;
$secondary-color: #62729c;
$text-primary-color: #f5f5f5;
$text-secondary-color: #c4c4c4;

$success: #74ff4a;
$danger: #ff4e4e;

* {
  margin: 0;
  padding: 0;
}

html body {
  font-family: "Share Tech Mono", serif;
  background-color: $body-bg;
}
.primary-text {
  font-family: "Press Start 2P", serif;
  color: $text-primary-color;
  font-weight: 400;
  font-size: 15px;
}

.input {
  font-family: "Share Tech Mono", serif;
  border-radius: 0;
  border: 0 !important;
  outline: none !important;
  padding-left: 10px;
  font-weight: 400;
  background-color: $secondary-color;
  color: white;
}
*:focus {
  outline: none !important;
}

#button {
  border-radius: 0;
  background-color: $primary-color;
  border: 0;
  padding: 10px 20px 10px 20px;
  height: 45px;
  width: max-content;
}

#button:active {
  box-shadow: none;
}
#button:focus {
  box-shadow: none;
}

.quote-text {
  font-family: "Share Tech Mono";
  font-size: 20px;
  width: 60%;
  margin: auto;
  color: white;
  text-align: center;
}

.quotes {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .input {
    padding: 5px;
    font-size: 25px;
    width: 80%;
    margin: auto;
  }
}
.quote {
  margin: auto;
  text-align: center;
}

.current-word {
  text-decoration: underline;
  text-decoration-color: #f5f5f5;
}

.success {
  color: $success;
  text-decoration-color: $success;
}

.danger {
  color: $danger;
}

.error {
  color: $danger !important;
}
.placeholder {
  position: relative;
}

.placeholder::after {
  position: absolute;
  left: 5px;
  top: 13px;
  color: #f5f5f5;
  font-size: 25px;
  content: attr(data-placeholder);
  pointer-events: none;
  opacity: 0.6;
}

/**    NavBar   */

.navbar-custom {
  background-color: $navbar-bg;
}

.navbar-brand {
  color: #f2f2f2;
  transition: 0.3s all;
}

.navbar-brand:hover {
  color: #f9f9f9;
}

.nav-item,
.nav-link {
  margin-left: 10px;
  margin-right: 10px;
  color: #f5f5f5 !important;
}

/** grid center */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.timeout {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
