$background-color: #10172b;
$primary-color: #2d395c;
$secondary-color: #62729c;
$text-primary-color: #f5f5f5;
$text-secondary-color: #c4c4c4;

$success: #42812e;
$danger: #c45959;

* {
  margin: 0;
  padding: 0;
}

html body {
  font-family: "Share Tech Mono", serif;
  background-color: $background-color;
  margin: 50px 100px;
}
.primary-text {
  font-family: "Press Start 2P", serif;
  color: $text-primary-color;
  font-weight: 400;
  font-size: 15px;
}

.input {
  font-family: "Share Tech Mono", serif;
  border-radius: 0;
  border: 0 !important;
  outline: none !important;
  padding-left: 10px;
  font-weight: 400;
  background-color: $secondary-color;
  color: white;
}
*:focus {
  outline: none !important;
}

#name-submit {
  border-radius: 0;
  background-color: $primary-color;
  border: 0;
}

#name-submit:active {
  box-shadow: none;
}
#name-submit:focus {
  box-shadow: none;
}

.quote-text {
  font-family: "Share Tech Mono";
  font-size: 20px;
  width: 60%;
  margin: auto;
  color: white;
  text-align: center;
}

.quotes {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .input {
    padding: 5px;
    font-size: 25px;
    width: 80%;
    margin: auto;
  }
}
.quote {
  margin: auto;
  text-align: center;
}

.current-word {
  text-decoration: underline;
  text-decoration-color: #f5f5f5;
}

.success {
  color: $success;
  text-decoration-color: $success;
}

.danger {
  color: $danger;
}

.false {
  color: $danger;
}
